services:
  naas-img:
    build: .
    image: naas-img:latest
    container_name: naas-img
    restart: unless-stopped
    deploy:
      resources:
        limits:
          cpus: '0.2'
          memory: 256M
    read_only: true
    security_opt:
      - no-new-privileges:true
    cap_drop:
      - ALL
    tmpfs:
      - /tmp
    command: node index.js
    env_file:
      - .env


networks:
  default:
    external: true
    name: cloudflared-stack_default
